{% extends 'Layout/layoutLogin.html.twig' %}

{% block title %}
    Log in
{% endblock %}

{% block content %}
    <div id="loginForm">
        {{ dump(error) }}
        <img id="imageConnexion" src="{{ asset('images/template/logo_default.png') }}" alt="">
        <div id="loginFormContent">
            <form method="post">
                <input class="inputConnexion" type="email" name="email" id="inputEmail" required autofocus>
                <input class="inputConnexion" type="password" name="password" id="inputPassword" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn" type="submit">Sign in</button>
            </form>
        </div>
        {# todo vérifier le lien avec la page quand la feature sera prête #}
            <a class="whiteLink" href="{# {{ url(FrontOffice_Home_ForgottenPassword) }} #}">Mot de passe oublié</a>

    </div>
{% endblock %}
