/*=======================*/
/*          NAV          */
/*=======================*/
.navContainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    line-height: 34px;
    background: #000000;
    color: #ffffff;
}
.nav{
    margin: 0 auto;
    max-width: 75em;

}
.subNavContainer{
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    text-align: right;
    line-height: 3.25em;
    background: #333a85;
    color: #ffffff;
}
.subNav{
    margin: 0 auto;
    max-width: 75em;
}
.logButton{
    text-decoration: none;
    display: initial;
    border-radius: 3px;
    font-size: 0.8em;
    padding: 5px 10px;
    background-color: #FFFFFF;
    color: #000000;
}
.logInfo{
    text-decoration: none;
    display: initial;
    border-radius: 3px;
    font-size: 0.8em;
    padding: 5px 10px;
    background-color: #333a85;
    color: #FFFFFF;
}
.logoLink{
    position: absolute;
    width: 150px;
}
.logoImage{
    max-width: 100%;
    max-height: 200px;
}

/*=======================*/
/*         Body          */
/*=======================*/
