{% macro Errors() %}
    <div class="notificationContainer">

    {% if app.flashes('error') is defined %}
        {% for error in app.flashes('error') %}
            <div class="error notification">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endmacro %}

{% macro Success() %}
    <div class="notificationContainer">

        {% if app.flashes('success') is defined %}
            {% for error in app.flashes('success') %}
                <div class="error notification">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}