<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Projet arep-cms</title>
	<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/assets.css') }}" />
</head>
<body>
<!--
todo ici message d'erreur contenu dans les message flash
-->


{% block content %}
{% endblock %}

</body>
</html>
